<%- include('./public/head.ejs') %>

<% if(data==0){ %>
没有数据
<% }else{ %>
<h4>当前页数：<%=data.page_current %></h4>
<h4>总页数：<%=data.page_count_page %></h4>
<h4>当前数据</h4>
<% data.page_data.forEach(function(dataList){  %>

照片的ID：<%=dataList.photoId %><br/>
照片的名字：<%=dataList.photoNiname %><br/>
照片的拍摄时间：<%=dataList.photoCreatetime %><br/>
照片的上传时间：<%=dataList.photoUpdatetime %><br/>
照片的描述：<%=dataList.photoIntroduce %><br/>
照片的拍摄地方：<%=dataList.photoAddress %><br/>

上传者的ID：<%=dataList.userId %><br/>
上传者的头像：<%=dataList.userHead %><br/>
上传者的名字：<%=dataList.userName %><br/>
上传者的介绍：<%=dataList.userIntroduce %><br/>
<hr/>
<%  }) %>

<% } %>
<%- include('./public/foot.ejs') %>